// Screen Sizes
$screen-mobile-min: 320px;
$screen-tablet-min: 600px;
$screen-desktop-min: 972px;

$container-max-width: 1228px;

// Colours
$black: #000;
$white: #fff;
$blue: #0060df;
$light-blue: #f2fcfd;
$box-shadow: #d7d7db;

$border-grey: #2f2f2f;
$search-font-color: #cecece;

// Fonts
$primary-font: "Zilla Slab", serif;
$secondary-font: "Open Sans", sans-serif;
